<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<br />
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<br />
<p>
  <strong>Dob:</strong>
  <%= @user.DOB %>
</p>
<br />
<p>
  <strong>Passport num:</strong>
  <%= @user.passport_num %>
</p>
<br />
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br />
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<br />


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
