<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @hotel.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @hotel.password %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
